In [ ]:
import heapq
from itertools import combinations
import matplotlib.pyplot as plt
import numpy as np

In [18]:
import pandas as pd

df=pd.read_csv("distances.csv") #index_col="Location"
df

    ID         location    x     y
0    0          Chennai  810   100
1    1           Trichy  504   511
2    2          Madurai  386   716
3    3       Toothukudi  350   921
4    4            Salem  439   936
5    5         Nammakal  400   460
6    6  Thiruvannamalai  569   235
7    7       Coimbatore  171   526
8    8         Nilgiris  129   419
9    9            Erode  275   416
10  10            Theni  270   728
11  11        Thanjavur  593   558
12  12        Sivaganga  496   715
13  13     Thirunalveli  295   990
14  14      Kanyakumari  245  1043
15  15          Tenkasi  272   892
16  16         Tiruppur  270   541
17  17        Cuddalore  660   409
18  18       Perambalur  558   462
19  19      Pudukkottai  542   630
20  20            Karur  413   552

a.add_node("Chennai",810,100)
a.add_node("Trichy",504,511)
a.add_node("Madurai",386,716)
a.add_node("Toothukudi",350,921)
a.add_node("Salem",439,376)
a.add_node("Namakkal",400,460)
a.add_node("Thiruvannamalai",569,235)
a.add_node("Coimbatore",171,526)
a.add_node("Nilgiris",129,419)
a.add_node("Erode",275,416)
a.add_node("Theni",270,728)
a.add_node("Thanjavur",593,558)
a.add_node("Sivaganga",496,715)
a.add_node("Tirunelveli",295,990)
a.add_node("Kanyakumari",245,1043)
a.add_node("Tenkasi",272,892)
a.add_node("Tiruppur",270,541)
a.add_node("Cuddalore",660,409)
a.add_node("Perambalur",558,462)
a.add_node("Pudukkottai",542,630)
a.add_node("Karur",413,552)

In [ ]:
class Node():
    def __init__(self,ID,name,x,y):
        self.ID
        self.name=name
        self.x=x
        self.y=y
        self.h=float('inf')
        
    def update_heuristic(self,dest):
        self.h=(((dest.x-self.x)**2 + (dest.y-self.y)**2)**.5)

In [17]:

    
class Graph():
    def __init__(self,df):
        self.cities=dict(df) #{location:["chennai","trichy"],x:[100,200],y:[...]}
        self.matrix=None
    #def add_node(self,name,x,y):
    #    node=Node(id_=len(self.nodes),name=name,x=x,y=y)
    #    self.nodes.append(node)
    
    def calculate_distances(self):
        for i in self.cities:
            print(i)
        
        
        '''
        self.matrix=[[float('inf') for w1 in range(len(self.nodes))]for w2 in range(len(self.nodes))]
        
        for i,j in combinations(self.nodes,2):
            #print (i.node_id,i.name,"and",j.node_id,j.name)
            d=Graph.calculate_euclidean_distance((i.x,i.y),(j.x,j.y))
            self.matrix[i.node_id][j.node_id]=d
            self.matrix[j.node_id][i.node_id]=d
            #print(f"distance between them is {d}")
        
        self.display_adjacency_matrix()
        
        '''
        
    def display_adjacency_matrix(self):
        for i in range(len(self.nodes)):
            self.matrix[i][i]=0
            
        city_labels=[i.name for i in self.nodes]
        display(pd.DataFrame(self.matrix,index=city_labels,columns=city_labels))
    
    def plot_graph(self):
        plt.figure(figsize=(6,10))
        
        # display img first
        map_width=860
        map_height=1109
        im = plt.imread("map.png")
        plt.imshow(im,extent=(0,map_width,0,map_height))

        # now plot
        
        X=df["x"]
        Y=df["y"]
        labels=df.index
        

        for node in self.nodes:
            X.append(node.x)
            Y.append(map_height-node.y)
            labels.append(node.name)
            
        plt.scatter(X,Y)
        
        for i, label in enumerate(labels):
            plt.text(X[i], Y[i], label, fontsize=8, ha='center', va='bottom', 
                     bbox=dict(facecolor='white', alpha=0.85, edgecolor='none', boxstyle='round,pad=0.5'))
        plt.axis(False)
        plt.show()
    
    @staticmethod
    def calculate_euclidean_distance(coord1,coord2):
        x1,y1=coord1
        x2,y2=coord2
        return (329/512.403162)*(((x2-x1)**2 + (y2-y1)**2)**.5)
    
        

a=Graph(df)

a.calculate_distances()
a.plot_graph()

IndexError: list assignment index out of range

In [ ]:
a=Graph(df)

a.calculate_distances()
a.plot_graph()